Django==4.2.13
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
django-filter==24.2
mysqlclient==2.2.4
Pillow==10.4.0
razorpay==1.4.2
python-decouple==3.8
drf-spectacular==0.27.2